{:company/legal-name "SBS Transit Ltd"
 :company/lei "254900EM62Y5RRTJ9771"
 :company/jurisdiction "SG"
 :company/website "https://www.sbstransit.com.sg"
 :company/ticker "SBTL (SGX); 75%-owned by ComfortDelGro Corporation Limited"
 :company/inquiry-form-url "https://www.sbstransit.com.sg/enquiries"}
