[["sbstransit-cfu-1" :tos/full-text "Conditions for Use - SBSTransit
Menu
A+
A
A-
Search
Home
Bus
Service Information
Wheelchair-Accessible Bus Services
NextBus Arrival Timings
Interchanges, Terminals and Stations
Conditions of Carriage
Rail
System Map
Station Information
First Train/ Last Train
Travel Time
Art In Transit
Ridership
Helpful Information
Fares And Concessions
Security
Special Assistance
Travel Buddy Programme
Handling Emergencies
Safety
Service Disruption
NaviAID - 360° Virtual Map
Frequently Asked Questions
Talk To Us
What Commuters Say
Enquiries
Feedback
Lost & Found
Requests & Media Queries
Travel Buddy Programme
Privacy Policy
Whistleblowing Policy
Reaching Out
Community Engagement
School Talks and Learning Journeys
Find Your Way
Travel Buddy Programme
CARES Community Bus
Caring Commuter Champions
Join Us
Grow with Us
Life In SBS Transit
Job Listing
Development & Benefits
Recruitment Roadshows
Scholarships
Data Protection for Job Applicants
Corporate
About Us
Our Purpose and Core Values
Board of Directors
Key Management
Milestones
CARES
Awards
Green Efforts
Policies
Investor Relations
Financial Results
Other Announcements
Annual General Meetings
Annual Reports
Request Form
Investor Relations Policy
Sustainability
Sustainability Board Statement
Sustainability Reports
Task Force on Climate-Related Financial Disclosures (TCFD) Inaugural Report 2023
What’s New
Press Release
SBS Transit Mobile App
Facebook
Twitter
Home
Conditions for Use
Conditions for Use
The user agrees that the information obtained through this website may only be used for the personal reference by the user. No such information shall be copied or displayed for public viewing or reference in any way or used for any commercial or marketing purposes, without the prior written consent of SBS Transit, whose consent may be withheld for any reason whatsoever. Similarly, no derivative works shall be created without the prior written consent of SBS Transit whose consent may be withheld for any reason whatsoever.
Transport Services
NextBus Arrival Timings
Bus
Downtown Line
North East Line
Sengkang and Punggol LRT
Jurong Region Line
Keep In Touch
FAQ
Feedback
Enquiries
Lost & Found
Media
Press Release
SBS Transit Mobile App
Twitter
Facebook
Business With Us
Media Space
Space for Lease
Leasing Enquiry
Procurement
Shop Directory
Site Map
Links
Conditions for Use
Co. Registration No. 199206653M
COPYRIGHT © SBS TRANSIT LTD
Top" 1 :add]
 ["sbstransit-cfu-1" :tos/source-url "https://www.sbstransit.com.sg/conditions-for-use" 1 :add]
 ["sbstransit-cfu-1" :tos/retrieved-at "2026-07-19T08:43:15Z" 1 :add]
 ["sbstransit-cfu-1" :tos/sha256 "2a85cba030fdeb629931b81b6343d99b0caec64b4870cca265f999f3f4496927" 1 :add]
 ["sbstransit-cfu-1" :tos/doc-type :terms-of-service 1 :add]]
